body {
    margin: 0px;
}


//Colour Variables

$color-main-nav: #FBE3DC;


.flex {
    display: flex;
}

.fe {
    display: flex;
    justify-content: flex-end;
}

.sb {
    display: flex;
    justify-content: space-between;
}

.nav-container {
    height: 5.2em;
    width: 100%;
    background-color: $color-main-nav;
}

.logo-container{
    height: 100%;
    width: 24em;
}

.logo {
    height: 100%;
    width: 16em;
    background-color: green;
}

//NAV BAR

nav {
    height: 100%;
    width: 45em;
    background-color: red;
}

.nav-item {
    height: 100%;
    width: 5em;
    background-color: blue;
}